workflows/Agent_6_Scraper.json
{
  "name": "Agent 6 — Social Intelligence Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] }
      },
      "id": "node-scraper-cron",
      "name": "Scraper Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "const PRODUCT = 'Vortex';\n// We use a single combined search to avoid overwriting the 'latest' document twice\nconst query = `https://www.reddit.com/r/SaaS/search/?q=${PRODUCT}&sort=new`;\nreturn [{ json: { jina_url: `https://r.jina.ai/${query}`, platform: 'reddit' } }];"
      },
      "id": "node-build-urls",
      "name": "Build Jina URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.jina_url}}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Accept", "value": "text/plain" }, { "name": "Authorization", "value": "Bearer jina_328bb824d97f4fdcbc0a4a5fa1c6a812H8-H1bG0r1hykdIQwuzz7WWe9OeX" }] }
      },
      "id": "node-jina-fetch",
      "name": "Jina Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.GROQ_API_KEY}}" }] },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "llama3-70b-8192" },
            { 
              "name": "messages", 
              "value": "=[{\"role\":\"system\",\"content\":\"You are a SaaS market analyst. Analyze the provided text and return ONLY valid JSON matching this schema: {\\\"sentiment_score\\\": number, \\\"sources\\\": {\\\"reddit\\\": number, \\\"youtube\\\": number}, \\\"top_complaints\\\": [{\\\"issue\\\": string, \\\"example_quote\\\": string}], \\\"top_praise\\\": [{\\\"point\\\": string, \\\"example_quote\\\": string}], \\\"feature_requests\\\": [{\\\"feature\\\": string, \\\"count\\\": number}], \\\"summary\\\": string}\"},{\"role\":\"user\",\"content\":$json.body}]" 
            }
          ]
        }
      },
      "id": "node-sentiment",
      "name": "Groq Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [950, 400]
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst content = groqResponse.choices[0].message.content;\nlet intel;\ntry {\n  intel = JSON.parse(content.replace(/```json|```/g, '').trim());\n} catch(e) {\n  intel = { summary: 'Error parsing AI response', sentiment_score: 50 };\n}\n\n// Helper to format for Firestore REST API\nconst toFs = (val) => {\n  if (typeof val === 'string') return { stringValue: val };\n  if (typeof val === 'number') return { doubleValue: val };\n  if (Array.isArray(val)) return { arrayValue: { values: val.map(v => ({ mapValue: { fields: Object.fromEntries(Object.entries(v).map(([k,v]) => [k, toFs(v)])) } })) } };\n  if (typeof val === 'object') return { mapValue: { fields: Object.fromEntries(Object.entries(val).map(([k,v]) => [k, toFs(v)])) } };\n  return { stringValue: String(val) };\n};\n\nconst fields = Object.fromEntries(Object.entries(intel).map(([k, v]) => [k, toFs(v)]));\nreturn [{ json: { fields } }];"
      },
      "id": "node-format-fs",
      "name": "Format for Firestore",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/{{$env.FIREBASE_PROJECT_ID}}/databases/(default)/documents/product_intelligence/latest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "bodyParameters": { "parameters": [{ "name": "fields", "value": "={{$json.fields}}" }] }
      },
      "id": "node-save-intel",
      "name": "Save to Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Scraper Cron": { "main": [[{ "node": "Build Jina URL", "type": "main", "index": 0 }]] },
    "Build Jina URL": { "main": [[{ "node": "Jina Fetch", "type": "main", "index": 0 }]] },
    "Jina Fetch": { "main": [[{ "node": "Groq Sentiment", "type": "main", "index": 0 }]] },
    "Groq Sentiment": { "main": [[{ "node": "Format for Firestore", "type": "main", "index": 0 }]] },
    "Format for Firestore": { "main": [[{ "node": "Save to Firestore", "type": "main", "index": 0 }]] }
  }
}
