workflows/Master_Apex_Executive_Pipeline.json
{
  "name": "Master Apex Executive Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apex-master-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-intake",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 400],
      "webhookId": "apex-master-intake"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst activityAtom = {\n  user_id: body.user_id || 'unknown',\n  name: body.name || 'Unknown User',\n  email: body.email || '',\n  company: body.company || 'Unknown Company',\n  company_size: body.company_size || 'unknown',\n  event_type: body.event || body.event_type || 'unknown',\n  feature: body.feature || 'unknown',\n  session_mins: body.session_duration_mins || 0,\n  teammates_invited: body.teammates_invited || 0,\n  api_calls_today: body.api_calls_today || 0,\n  plan: body.plan || 'free_trial',\n  source: body.source || 'unknown',\n  phone: body.phone || '',\n  call_consent: body.call_consent || false,\n  email_consent: body.email_consent || true,\n  processed_at: new Date().toISOString()\n};\n\nconst ttlDays = 14;\nconst deleteAfter = new Date();\ndeleteAfter.setDate(deleteAfter.getDate() + ttlDays);\nactivityAtom.delete_after = deleteAfter.toISOString();\nactivityAtom.status = 'NEW';\nactivityAtom.email_status = 'NONE';\nactivityAtom.call_status = 'NOT_TRIGGERED';\nactivityAtom.demo_booked = false;\n\nreturn [{ json: activityAtom }];"
      },
      "id": "node-scout-normalize",
      "name": "1. Scout: Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/{{$env.FIREBASE_PROJECT_ID}}/databases/(default)/documents/users/{{$json.user_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "={{ JSON.stringify({ user_id: { stringValue: $json.user_id }, name: { stringValue: $json.name }, email: { stringValue: $json.email }, company: { stringValue: $json.company }, company_size: { stringValue: $json.company_size }, event_type: { stringValue: $json.event_type }, feature: { stringValue: $json.feature }, session_mins: { integerValue: $json.session_mins }, teammates_invited: { integerValue: $json.teammates_invited }, api_calls_today: { integerValue: $json.api_calls_today }, plan: { stringValue: $json.plan }, source: { stringValue: $json.source }, phone: { stringValue: $json.phone }, call_consent: { booleanValue: $json.call_consent }, email_consent: { booleanValue: $json.email_consent }, status: { stringValue: $json.status }, email_status: { stringValue: $json.email_status }, call_status: { stringValue: $json.call_status }, delete_after: { stringValue: $json.delete_after }, processed_at: { stringValue: $json.processed_at } }) }}"
            }
          ]
        }
      },
      "id": "node-firestore-user",
      "name": "2. Save User Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Master Pipeline: Processing Started\", \"user_id\": $json.user_id }"
      },
      "id": "node-webhook-response",
      "name": "Respond Early",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.GROQ_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "llama3-70b-8192" },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"You are a B2B SaaS sales intelligence agent. Return ONLY valid JSON. No markdown.\"},{\"role\":\"user\",\"content\":\"Analyze activity for \" + $json.name + \" at \" + $json.company + \".\\nEvent: \" + $json.event_type + \"\\nFeature: \" + $json.feature + \"\\nSession: \" + $json.session_mins + \"m\\nTeam: \" + $json.teammates_invited + \"\\n\\nReturn JSON:\\n{\\\"tier\\\": \\\"POWER_USER|STUCK_USER|EXPLORER\\\",\\\"intent_score\\\": 0-100,\\\"reasoning\\\": \\\"...\\\",\\\"recommended_action\\\": \\\"SEND_EMAIL|WATCH\\\",\\\"urgency\\\": \\\"HIGH|LOW\\\",\\\"primary_pain\\\": \\\"USAGE_LIMIT|NONE\\\"}\"}]"
            }
          ]
        }
      },
      "id": "node-architect-groq",
      "name": "3. Architect: AI Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 500]
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst rawText = groqResponse.choices[0].message.content;\nlet classification;\ntry {\n  classification = JSON.parse(rawText.replace(/```json|```/g, '').trim());\n} catch(e) {\n  classification = { tier: 'EXPLORER', intent_score: 10, reasoning: 'Parse Error' };\n}\nconst userData = $('2. Save User Profile').first().json;\nreturn [{ json: { ...userData, ...classification } }];"
      },
      "id": "node-parse-intent",
      "name": "4. Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.GROQ_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "llama3-70b-8192" },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"You are a world-class B2B sales copywriter. Return ONLY valid JSON.\"},{\"role\":\"user\",\"content\":\"Write outreach email for \" + $json.name + \" at \" + $json.company + \".\\nPain: \" + $json.primary_pain + \"\\nAction: \" + $json.event_type + \"\\n\\nReturn JSON:\\n{\\\"subject\\\":\\\"...\\\",\\\"body\\\":\\\"...\\\",\\\"sales_contact_note\\\":\\\"...\\\"}\"}]"
            }
          ]
        }
      },
      "id": "node-scriptwriter-groq",
      "name": "5. Scriptwriter: Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst rawText = groqResponse.choices[0].message.content;\nlet emailDraft;\ntry {\n  emailDraft = JSON.parse(rawText.replace(/```json|```/g, '').trim());\n} catch(e) {\n  emailDraft = { subject: 'Follow up', body: 'Hi', sales_contact_note: 'Error' };\n}\nconst combinedData = $('4. Parse Intent').first().json;\nreturn [{ json: { ...combinedData, email_draft: emailDraft } }];"
      },
      "id": "node-parse-email",
      "name": "6. Parse Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 500]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst score = data.intent_score;\nconst debateLog = [\n  `Agent 1 → Event captured`,\n  `Agent 2 → Classified: ${data.tier} (Score: ${score})`,\n  `Agent 3 → Email drafted`,\n  `Agent 7 → Decision: ${score >= 80 ? 'HOT LEAD - Slack + Email' : 'WARM LEAD - Email only'}`\n];\nreturn [{ json: { ...data, debate_log: debateLog, status: score >= 80 ? 'HOT_LEAD' : 'WARM_LEAD' } }];"
      },
      "id": "node-router-logic",
      "name": "7. Router: Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/{{$env.FIREBASE_PROJECT_ID}}/databases/(default)/documents/leads/{{$json.user_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "bodyParameters": { "parameters": [{ "name": "fields", "value": "={{ JSON.stringify({ status: { stringValue: $json.status }, intent_score: { integerValue: $json.intent_score }, tier: { stringValue: $json.tier }, email_subject: { stringValue: $json.email_draft.subject }, email_body: { stringValue: $json.email_draft.body }, debate_log: { stringValue: JSON.stringify($json.debate_log) } }) }}" }] }
      },
      "id": "node-save-lead",
      "name": "8. Save Lead Firestore",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1600, 500]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "webhookUri": "={{$env.SLACK_WEBHOOK_URL}}",
        "text": "=🔥 *ApexIntel HOT LEAD*\n👤 *{{$json.name}}* ({{$json.company}})\n📊 Score: {{$json.intent_score}}/100\n🤖 Debate:\n{{$json.debate_log.join('\\n')}}"
      },
      "id": "node-slack-alert",
      "name": "9. Slack Alert (Hot Only)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1800, 500]
    }
  ],
  "connections": {
    "Webhook Intake": { "main": [[{ "node": "1. Scout: Normalize", "type": "main", "index": 0 }]] },
    "1. Scout: Normalize": { "main": [[{ "node": "2. Save User Profile", "type": "main", "index": 0 }]] },
    "2. Save User Profile": { "main": [[{ "node": "Respond Early", "type": "main", "index": 0 }, { "node": "3. Architect: AI Score", "type": "main", "index": 0 }]] },
    "3. Architect: AI Score": { "main": [[{ "node": "4. Parse Intent", "type": "main", "index": 0 }]] },
    "4. Parse Intent": { "main": [[{ "node": "5. Scriptwriter: Draft", "type": "main", "index": 0 }]] },
    "5. Scriptwriter: Draft": { "main": [[{ "node": "6. Parse Email", "type": "main", "index": 0 }]] },
    "6. Parse Email": { "main": [[{ "node": "7. Router: Decision", "type": "main", "index": 0 }]] },
    "7. Router: Decision": { "main": [[{ "node": "8. Save Lead Firestore", "type": "main", "index": 0 }]] },
    "8. Save Lead Firestore": { "main": [[{ "node": "9. Slack Alert (Hot Only)", "type": "main", "index": 0 }]] }
  }
}
